<template name="lists">
  <div class="lists">
    <a class="btn add-list pull-right" href="#">Add list</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>List</th>
          <th></th>
        </tr>
      </thead>
      {{#each lists}}
      <tr>
        <td><a href="#">{{title}}</a></td>
        <td class=""><a class="btn edit-list" href="#">Edit</a></td>
        <td class=""><a class="btn btn-danger delete-list" href="#">Delete</a></td>
      </tr>
      {{/each}}
    </table>
  </div>
</template>
