<template name="lists">
  <div class="lists">

    <form class="main pull-right">
      <input name="title" width="20" type="text" placeholder="List title"/>
      <a class="btn add-list" href="#">Add list</a>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>List</th>
          <th></th>
        </tr>
      </thead>
      {{#each lists}}
      <tr>
        <td><a href="#">{{title}}</a></td>
        <td class=""><div class="btn-group"><a class="btn edit-list" href="#">Edit</a></td>
        <a class="btn btn-danger delete-list" href="#" id="{{_id}}">Delete</a></div></td>
      </tr>
      {{/each}}
    </table>
  </div>
</template>
