<template name="lists">
  <div class="">
    <table class="ui table segment">
      <thead>
        <tr>
          <th>List</th>
          <th></th>
        </tr>
      </thead>
      {{#each lists}}
      <tr>
        <td><a href="#">{{title}}</a></td>
        <td class="">
          <div class="ui buttons">
            <a class="ui button" href="#">Edit</a>
            <a class="ui button delete-list" href="#" id="{{_id}}">Delete</a>
          </div>
        </td>
      </tr>
      {{/each}}
      <tfoot>
        <tr><th colspan="3">
          <form class="ui segment">
            <input name="title" width="20" type="text" placeholder="List title" id="title" />
            <div class="ui teal labeled button" id="add-lists">Add List</div>
          </form>
        </th>
      </tr></tfoot>
    </table>
  </div>
</template>
